<div class="row">
    <div class="col-xs-12">
        <h1>{{note.title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>{{subject.name}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <button class="btn btn-default" ui-sref="notes.edit"><i class="fa fa-edit"></i>Edit</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="well well-sm">
            <div id="text" class="notes-display">

            </div>
        </div>
    </div>
</div>